header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.search-name{

    background: purple;
    color: white;
    display: flex
;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    justify-content: space-around;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 20px;
}

.pokemon {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pokemon img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pokemon p {
    font-size: 14px;
    margin: 5px 0;
}


@media (max-width: 768px) {
    .pokemon-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 480px) {
    .pokemon-container {
        grid-template-columns: 1fr;
    }
}